@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');

body {
  background-image: url(https://preview.redd.it/dkb-8th-mini-album-urban-ride-tracklist-v0-bed0b5ep7bbd1.jpeg?auto=webp&s=4c8dda4aee027892720212e09455f92b52dea1dd);
  text-align: center;
  color: rgb(224, 244, 247);
}

#myCanvas {
  background-image: url("https://www.delreypartyrentals.com/wp-content/uploads/Concert-Barricade-Rental-Del.jpg");
  background-size: 600px 400px;
  border-radius: 10px;
  background-position: center;
  border: 4px solid rgb(224, 244, 247);;
}

h1{
  font-family: "Rubik Dirt", system-ui;
  font-weight: 400;
  font-size: 50px;
  font-style: normal;
  background-color: darkred;
}

p {
  background-color: darkred;
}

